@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

html {
  overflow-y: scroll;
}

@font-face {
  font-family: "Dmsans-regular";
  src: url("/fonts/dmsans-1.ttf") format("truetype");
}

@font-face {
  font-family: "Dmsans-light";
  src: url("/fonts/dmsans-2.ttf") format("truetype");
}

@font-face {
  font-family: "Dmsans-semiBold";
  src: url("/fonts/dmsans-2.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/font-1.ttf") format("truetype");
}

@font-face {
  font-family: "Signature";
  src: url("/fonts/signature.ttf") format("truetype");
}

@theme {
  --color-primary: #fffefd;
  --color-button-hover: #fe832b;
  --color-skill-heading: #211a14;
  --color-skill-bg: #f6f7f6;
  --color-heading: #1b140e;
  --color-subheading: #f07a05;
  --color-skill-heading-bg: #fae4d3;
  --color-paragraph: #49423f;
  --color-skill-heading-border: rgba(11, 10, 9, 0.08);
  --font-dmsans: "Dmsans-regular";
  --font-dmsans-light: "Dmsans-light";
  --font-dmsans-semiBold: "Dmsans-semiBold";
  --font-signature: "Signature";
  --font-inter: "Inter";
  --text-nav: 0.875rem;
  --text-button: 0.9375rem;
  --text-skill: 1.25rem;
  --text-paragraph-md: 1.125rem;
  --text-heading-lg: 4.125rem;
  --text-subheading-lg: 3.25rem;
  --text-projects-lg: 3rem;
  --text-heading-md: 1rem;
  --text-project-detail-lg: 1.25rem;
  --text-signature: 2.5rem;
  --text-projects-md: 1.75rem;
}
