@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

html {
  overflow-y: scroll;
}

@font-face {
  font-family: "Dmsans-regular";
  src: url("/fonts/dmsans-1.ttf") format("truetype");
}

@font-face {
  font-family: "Dmsans-light";
  src: url("/fonts/dmsans-2.ttf") format("truetype");
}

@font-face {
  font-family: "Dmsans-semiBold";
  src: url("/fonts/dmsans-2.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/font-1.ttf") format("truetype");
}

@theme {
  --color-primary: #fefeff;
  --color-button-hover: #fe832b;
  --color-skill-heading: #211a14;
  --color-skill-bg: #f6f7f6;
  --color-heading: #1f1f1f;
  --font-dmsans: "Dmsans-regular";
  --font-dmsans-light: "Dmsans-light";
  --font-dmsans-semiBold: "Dmsans-semiBold";
  --font-inter: "Inter";
  --text-nav: 0.875rem;
  --text-button: 0.9375rem;
  --text-skill: 1.25rem;
  --text-heading-lg: 4.125rem;
}
